body {
  background: rgb(75, 9, 8);
  font-family: sans-serif;
  color: rgb(251, 202, 3);
  margin: 0;
}

header, h1 {
  text-align: center;
  color: rgb(251, 202, 3);
}

.main-container {
  display: flex;
  position: relative;
  margin: 30px 0;
  
}

.container-item {
  width: 90%;
  border: 0;
  flex-basis: 50%;
  box-shadow: 3px 3px 90px -20px rgb(75, 9, 8);
  padding: 2em 2em;
  background: rgb(106, 12, 11);
  border-radius: 30px;
  margin-left: 29px;
  margin-right: 29px;
}

.container-item:hover, 
.container-item2:hover {
  background: linear-gradient(to bottom right, #0e0404, #bb1717);
  transition: background 2s;
  scale: 1.10;
}

.container-item2 {
  width: 90%;
  border: 0;
  flex-basis: 50%;
  box-shadow: 3px 3px 90px -20px rgb(75, 9, 8);
  padding: 2em 2em;
  background: rgb(106, 12, 11);
  border-radius: 30px;
  margin-left: 29px;
  margin-right: 29px;
}

.container-result {
  text-align: center;
  padding-top: 8px;
  padding-bottom:24px;
  background-color: rgb(170, 5, 5);
  flex-direction: column;
}

.container-result2 {
  text-align: center;
  padding-top: 8px;
  padding-bottom:24px;
  background-color: rgb(170, 5, 5);
}

.container-result, div {
  padding: 8px;
}

.container-result input {
  height: 80px;
  text-align: center;
  font-size: 40px;
  border: 0;
}

.container-form {
  text-align: center;
  padding-top: 8px;
  padding-bottom:24px;
  background-color: rgb(170, 5, 5);
}

.container-form, div {
  padding: 8px;
}

.calculate {
  background-color: darkgreen;
  color: white; 
  border-radius: 8px;
  margin-right: 5px;
  font-weight: bold;
}

button {
  border: 0;
  height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: darkred; 
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  scale: 0.85;
}

button:active {
  scale: 0.95;
}

.form-item {
  height: 24px;
  text-align: center;
  border: 0;
  border-radius: 20px;
  background-color: whitesmoke;
}

#result {
  font-size: 50px;
  color: rgb(251, 202, 3);
}

.comment {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(170, 5, 5);
  margin-left: 80px;
  margin-right: 80px;
}

.custom-radio input[type='radio'] {
  display: inline-grid;
  line-height: 1.5;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(170, 5, 5);
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px rgb(170, 5, 5);
  transition: box-shadow 0.3s ease;
}

.custom-radio input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

.custom-radio input[type='radio']:checked:before {
  background: whitesmoke;
}

#footer {
  background-color: rgb(106, 12, 11);
  text-align: center;
  
}
#footer p {
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: -5px;
}